﻿@using ProniaProject.Services
@inject LayoutServices _layoutService
@{
   
    var basket = _layoutService.GetBasket();
}
<li class="minicart-wrap me-3 me-lg-0">
    <a href="#miniCart" class="minicart-btn toolbar-btn">
        <i class="pe-7s-shopbag"></i>
        <span class="quantity">@basket.BasketItems.Count</span>
    </a>
</li>