@model OrderCreateViewModel
<div class="col-lg-6 col-12">
    <form id="checkoutForm" method="post" asp-action="create">
        <div class="checkbox-form">
            <h3>Billing Details</h3>
            <div class="row">
               @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                {
                    <div class="col-md-12">
                        <div class="checkout-form-list">
                            <label asp-for="FullName">Full Name <span class="required">*</span></label>
                            <input disabled asp-for="FullName" placeholder="Enter Full Name" type="text" />
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkout-form-list">
                            <label asp-for="Email">
                                Email Address
                                <span class="required">*</span>
                            </label>
                            <input disabled asp-for="Email" placeholder="Enter Email Address" type="email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="checkout-form-list">
                            <label asp-for="FullName">Full Name <span class="required">*</span></label>
                            <input asp-for="FullName" placeholder="Enter Full Name" type="text" />
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkout-form-list">
                            <label asp-for="Email">
                                Email Address
                                <span class="required">*</span>
                            </label>
                            <input asp-for="Email" placeholder="Enter Email Address" type="email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                }
                <div class="col-md-12">
                    <div class="checkout-form-list">
                        <label asp-for="Address">Address <span class="required">*</span></label>
                        <input asp-for="Address" placeholder="Enter Address" type="text" />
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="checkout-form-list">
                        <label asp-for="Phone">Phone <span class="required">*</span></label>
                        <input asp-for="Phone" placeholder="Enter Phone Number" type="text" />
                        <span class="text-danger" asp-validation-for="Phone"></span>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="checkout-form-list">
                <label asp-for="Note">Note</label>
                    <textarea asp-for="Note" cols="60" rows="5" class="order-note"
                              placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    <span class="text-danger" asp-validation-for="Note"></span>

                </div>
            </div>
        </div>
    </form>
</div>
