@model ProfileEditViewModel


<form asp-action ="profile" method="post" class="myaccount-form">
    <div class="myaccount-form-inner row">
        <div class="single-input single-input-half">
            <input  placeholder="Full Name" asp-for="FullName">
            <span class="text-danger" asp-validation-for="FullName"></span>
        </div>
        <div class="single-input single-input-half">
            <input  placeholder="Email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="single-input">
            <input placeholder="UserName" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="single-input">
            <input  placeholder="Phone" asp-for="Phone">
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <div class="single-input">
            <input  placeholder="Address" asp-for="Address">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
      
        <div class="single-input">
            <input  placeholder="Current Password"   asp-for="CurrentPassword">
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
          <div class="single-input">
            <input  placeholder="New Password" asp-for="NewPassword">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div> 
        <div class="single-input">
            <input  placeholder="Confirm Password"    asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="col-lg-6 col-12  mb--30">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="single-input">
            <button class="btn btn-custom-size lg-size btn-pronia-primary"
                    type="submit">
                <span>SAVE CHANGES</span>
            </button>
        </div>
    </div>
</form>