@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Login";
}


<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form method="post">
                    <div class="login-form">
                        <h4 class="login-title">Forget Password</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="mb-0 form-control" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-12">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="col-md-12">
                                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                       Send Email
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
